
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* Landing Page */
.container {
    font-family: 'Poppins', sans-serif;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
#logo {
    width:150px;
}

.top-nav ul {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    background-color: #000000;
    font-weight: 400;
    justify-content: space-evenly;
    height: 3rem;
}
.top-nav li {
    list-style: none;
    padding: 0.4rem 0 0 0;
}

.top-nav {
    position: relative;
}

.top-nav a {
    text-decoration: none;
    color: #00ffff;
    font-size: 22px;
    font-weight: 700; 
}

.fa-magnifying-glass {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.row {
    height: 40%;
}

.col-md-6 img {
    width: 100%;

}

 /* Mobile wiew */


 @media screen and (max-width:768px) {
    
 }







.background {
    height: 100vh;
    position: relative;
}

#background-img {
    width: 100%;
    height: 100%;
}

.login-div {
    position: absolute;
    bottom: 22%;
    left: 10%;
}

.login-div button {
    padding: 15px 30px;
    border-radius: 30px !important; 
}

#login-btn {
    color: white;
    background-color: transparent;
    border-color: white;
    outline: none;
}

#reg-btn {
    font-weight: 600;
    margin-left: 10px;
}

#guest {
    margin-top: 3rem;
    text-decoration: none;
    font-size: 17px;
     position: absolute;
    bottom: 15%;
    left: 10%;
    color: white;
    font-weight: 600;
}



/* feed */

 .feed-bar {
    display: flex;
    margin: 2rem 0 0 2rem;
    border-bottom:2px solid #6A6B70;
    padding:0 0.7rem 0.5rem 2rem;
    justify-content: space-between;
 }

 .feed-bar a {
    text-decoration: none;
    color: #010105;
 }

 .feed-bar a:hover {
    color: #000000
 }

 #profile-pic {
    height: 1.5rem;
 }

 #form {
    margin-left: 30px;
    padding:0 0 1rem 4.2rem;
    border-bottom: 1px solid #6A6B70;
    position: relative;
 } 

 .fa-sliders {
    position: absolute;
    left: 2rem;
 }

 #form input  {
    border: none; 
    outline: none;
    width:75vw;      
 }

 #search-btn {
    border:none;
    background-color: transparent;
    position: absolute;
 }

 @media screen and (max-width:) {
    
 }





 /* sign up page */

 .wrapper {
    background-image: url(/Images/signup-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -20em;
    height: 100vh;
 }

 
.form {
    width: 40%;
    position: relative;
}

#submit {
    padding-left: 0;
}

.input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding-left: 30px;
    border: solid 1px white;
    font-weight: 500;
    outline-color: black;
    background-color: transparent;
    color: white;   
}

 #submit {
    background-color: hsl(154, 59%, 51%);
    color: white;
    margin-bottom: 1rem;
    border: none;
 }
#terms {
    text-align: center;
    font-size: 15px;
    color: hsl(246, 25%, 77%); 
    margin-bottom: 1rem;
}

#terms a {
    text-decoration: none;
    color: hsl(0, 100%, 74%) ;
    font-weight: 700;
}

.error {
    font-size: 12px;
    color:hsl(0, 100%, 74%);
    font-weight: 600;
    float: right;
    margin-top: 5px;
}

.error-icon {
    position: absolute;
    margin-top: 12px;
    right: 75px;
    
}





/* Log In */
 .login-wrapper {
    background-image: url(/Images/signup-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -25em;
    height: 100vh;
 }





 /* shipping */
 #ship-nav {
    justify-content: space-between;
    border-bottom: 1px solid #AEB4A9;
 }

  #ship-nav a {
    text-decoration: none;
    color: #000000;
  }

 .ship-wrap input{
    border:none;
    border-bottom: 1px solid #AEB4A9;
    height: 3em;
    width: 100%;
    background-color: #f5fffa;
    padding: 0 2em;
    outline:#AEB4A9;
 }

 .ship-wrap label {
    color: #6A6B70;
    font-weight: 500;
 }

 .ship-form {
    width: 30%;
 }

 #country {
    border:none;
    border-bottom: 1px solid #AEB4A9;
    height: 3em;
    height: 3em;
    width: 100%;
    background-color: #f5fffa;
    padding: 0 2em;
    appearance: none;
    outline:#AEB4A9;
 }

 #checkout-btn {
    color: azure;
    background-color: #000000;
    font-weight: 500;
    border-radius: 30px;
 }


 @media screen and (max-width:592px) {
    .ship-wrap {
        justify-content: start;
    }

    .ship-form {
    width: 100%;
    }

    .ship-wrap label {
        padding: 0 2em;
 }

    
 }




 /* payment vendor */
 .pay-header {
    border-bottom: 3px solid #AEB4A9;
 }

 .pay-header a {
    text-decoration: none;
    color: #000000;
 }

 #payment-text {
    border-bottom: 1px solid #000000;
 }

 .payment-form select {
    border: none;
 }

  .payment-form label {
    font-weight: 500;
 }
 #cardIcons{
   list-style: none;
 }

 #cardIcons img{
    height: 50px;
 }
 #card-icon {
    height: 20px;
 }

 .card-input {
    height:3rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid #6A6B70;
    background-color: #f5fffa;
    padding: 0 2em;
    outline:#AEB4A9;
 }
 

 .cvv-flex {
    width: 100%;
    margin-top: 10em;
 }
 .cvv-flex input {
    border-bottom: 2px solid #6A6B70;
 }



 /* payment success */
  .sucess-header {
    border-bottom: 3px solid #AEB4A9;
 }

 .sucess-header a {
    text-decoration: none;
    color: #000000;
 }

 .success-img {
   margin: 5em 0 0 0;
 }

 .success-img img {
   height: 350px;
   margin: 0 0 0 4em;
 }

 .success-img figcaption {
   font-size: 40px;
   font-weight: 500;
   margin: 1em 0 0 0;
 }

 @media screen and (max-width:482px) {
 .success-img figcaption {
   font-size: 30px;
   margin: 1em 0 0 1em;
 }
  .success-img img {
   height: 300px;

 }
 }